body{
    background:url('Images/profilebackground.jpeg');
    background-size:cover;
}
.profilecontents
{
    margin:auto;
    margin-top:16vh;
    width:100%;
}
.profileedit
{
    background:rgba(255,255,255,0.9);
    width:29%;
    margin:auto;
    margin-bottom:3%;
    border-radius:10px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.2);
    padding:4%;
    padding-top:3%;
}
.profilelabel
{
    font-size:20px;
    font-family: 'Bitter', serif;
    color:rgba(0,0,0,0.7);
}
.profileinput
{
    font-family: 'Bitter', serif;
    font-size:15px;
    border:0.5px solid rgba(0,0,0,0.4);
    border-radius:6px;
    padding:3%;
    width:92%;
}
.profileinput:focus
{
    outline-color:rgba(0,0,0,0.4);
}
.profileedit-btn
{
    font-family: 'Bitter', serif;
    padding:2%;
    width:30%;
    font-size:16px;
    background:#ffdcd6;
    border-radius:8px;
    border:none;
    color:#865e17;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    display:block;
    margin:auto;
}
.profileheading
{
    font-family: 'Bitter', serif;
    color:rgba(0,0,0,0.5);
}