*
{
    margin:0;
}
body
{
    height:100%;
}

/*Header start*/

.headeritemdisplay
{
    width:100%;
}

.logotd
{
    width:4%;
}
.logoimg
{
    width:55px;
    height:55px;
}
.logotexttd
{
    width:15%;
    color:#fcd5ca;
    font-weight: 565;
    font-family: 'Great Vibes', cursive;
    font-size:28px;
    letter-spacing: 2.5px;
}

a.homelink:visited{
    color:#fcd5ca;
    text-decoration: none;
}
td.logotexttd>a:visited,td.logotexttd>a:hover,a.homelink:hover{
    color:#fcd5ca;
    text-decoration: none;
}
.searchtd
{
    width:37%;
}
.searchdiv
{
    width:75%;
    border-radius:22px;
    padding:1.5%;
    background-color:white;
}
.searchinput
{
    width:92%;
    border-radius:24px;
    border:none;
    padding:1.5%;
}
.searchicon
{
    border:none;
    background:white;
}
.headertable
{
    position:fixed;
    width:100%;
    top:0;
    height:8vh;
    z-index:2;
}
.headertr
{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
input[type=search]:focus{
    outline:none;
}
button:active
{
    outline:none;
    border:none;
}
button:hover{
    cursor: pointer;
}
.headerlinks
{
    color:#fcd5ca;
    font-family: 'Great Vibes';
    font-weight:550;
    letter-spacing: 2.5px;
    width:8%;
    text-align: center;
    font-size:24px;
    cursor:pointer;
}

.headerlinks>a:visited,.headerlinks>a:hover{
    color:#fcd5ca;
    text-decoration: none;
}

.dropdowntd
{
    visibility:hidden;
}
.dropdownlist
{
    
    border-top:5px solid #fcd5ca;
    padding:0 12%;
    background:white;
    box-shadow:2px 2px 5px grey;
    font-size:14px;
    cursor: pointer;
    font-family: 'Baloo Tamma 2', cursive;
    list-style-type: none;
    z-index:4;
}

.drop-items{
    text-align: center;
    border-bottom:1px solid #ddd;
    padding:4% 0%;
    color:rgba(0,0,0,0.7);
}

.drop-items>a:link,.drop-items>a:visited,.drop-items>a:hover{
    text-decoration: none;
    color:rgba(0,0,0,0.7);
}

.drop-items:hover{
    color:black;
    font-size:15px;
}

.btm-border-none{
    border-bottom:none;
}

#profileshift
{
    width:8%;
    position:absolute;
    top:60px;
    right:12%;
    padding:0 1%;
}

#dropdowncat{
    width:11%;
    position :absolute;
    top:60px;
    right:26%;
}
/*Header end*/

/*Contents start*/
.contents
{
    width:100%;
    background:#fcd5ca8c;
}
.tilesdiv
{
    margin:auto;
    width:80%;
}
.tile
{
    border:1px solid grey;
    width:18.5%;
    height:38vh;
    margin-bottom:1.5%;
    margin-left:1%;
    border-radius:10px;
    display:inline-block;
}
/*Contents end*/

/*Popup start*/
.popupdiv
{
    position:fixed;
    width: 100%;
    height:100vh;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    visibility:hidden;
    z-index: 100;
}
.box
{
    margin:10% 33%;
    padding:2%;
    width:30%;
    border-radius:10px;
    background:#eee;
    padding-bottom:3%;
}
#signupbox
{
    margin:3% 33%;
}
.heading{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#8d6552;
    margin:2%;
}

.forminput{
    background:transparent;
    border:none;
    border-bottom:1.3px solid rgba(0,0,0,0.3);
    width:70%;
    height:100%;
    margin:4% 10%;
    padding:3.5%;
    color:rgba(0,0,0,0.6);
    font-size:115%;
}

input[class=forminput]::placeholder{
    font-size:17px;
    color:rgba(0,0,0,0.35);
}

input[class=forminput]:focus{
    outline:none;
}

input[class=forminput]::selection{
    background:transparent;
}

a:active,a,a:visited{
    text-decoration: none;
    color:#865e17;
}
a:hover{
    text-decoration: underline;
}

button[class=popup]{
    background:#ffdcd6;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    color:#8d6552;
    border:none;
    padding:2.5%;
    width:80%;
    margin:5%;
    border-radius:10px;
    margin-left:10%;
    font-size:100%;
}

button[class=popup]:hover{
    background:#ffdcd6;
}
.small{
    margin-left: 20%;
    color:rgba(0,0,0,0.4);
}
.cross
{
    color:rgba(0,0,0,0.35);
    font-weight:800;
    position:absolute;
    font-size:20px;
    top:23%;
    left:64.5%;
    font-family: 'Baloo Tamma 2', cursive;
    cursor:pointer;
}
#crosssignup
{
    top:9%;
    left:64.5%;
}
.cross:hover
{
    color:black;
    border-radius: 40px;
}

.inline-data{
    display:flex;
}
/* Message Start*/

.msg-container{
    padding:1.5%;
    text-align: center;
    display:inline-block;
    margin:0% auto;
    border-radius: 5px;
    position:fixed;
    top:78px;
    left:32%;
    right:32%;
    z-index:10;
}

.fa-check-circle
{
    color: rgb(76, 224, 101);
    margin:1% 2%;
    font-size:24px;
}
.success{
    background:rgb(255, 255, 255);
    color:rgba(0,0,0,0.6);
    font-size: 20px;
    border-bottom:4px solid rgb(76, 224, 101);
}


.fa-times-circle
{
    color: rgb(253, 103, 98);
    margin:1% 2%;
    font-size:24px;
}
.danger{
    background:rgb(255, 253, 253);
    color:rgba(0,0,0,0.6);
    font-size: 20px;
    border-bottom:4px solid rgb(253, 103, 98);
}

/* Message End */

