body{
    background:#fcd5ca50;
}

.current-page{
    margin:1% 10%;
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    color:rgba(0,0,0,0.6)
}

.order-heading{
    margin:1% 19%; 
    font-size:35px;
    color:#865d17c7;
    font-family: 'Satisfy', cursive;
}

.active{
    color:rgb(245, 155, 149);
}
.orders{
    width:80%;
    margin:1% auto;
    padding:0 2% ;
}
.order{
    background:white;
    width:90%;
    height:24vh;
    margin:2% auto;
    padding:0.5%;
    display:flex;
    border-radius: 15px;
    font-family: 'Noto Sans', sans-serif;
    box-shadow:2px 2px 6px rgba(0,0,0,0.1);
}

.orderimgdiv{
    height:100%;
    width:18%;
    background-size: cover;
}

.orderimg{
    height: 80%;
    width: 84%;
    margin:8% auto;
    display:block;
    border-radius: 10px;
}

.orderdesc{
    width:35%;
    padding:1.5% 1%;
}

.ordername{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin-bottom:2%;
    color:rgba(0,0,0,0.7);
}

.cost{
    font-size:24px;
    color:rgba(0,0,0,0.7);
    font-family: 'Roboto Condensed', sans-serif;
}

.quantity{
    font-size:14px;
    margin:1.5% 0;
    color:rgba(0,0,0,0.5);
}

.cancelorder,.detail-btn{
    margin:2%;
    margin-left:0;
    width:40%;
    padding:2.5% 3%;
    background:#ffa88e73;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    border:none;
    font-size:15px;
    color:#6f3317e6;
    font-family: 'Roboto', sans-serif;
}

.cancelorder:focus,.detail-btn:focus{
    outline:none;
}
.cancelorder:hover,.detail-btn:hover{
    background:#ce806873;
}


.deliver-details{
    padding:2%;
    width:45%;
}

.inlinedetails{
    width:100%;
    display:inline-flex;
}

.label{
    font-family: 'Noto Sans', sans-serif;
    color:rgba(0,0,0,0.9);
    font-size:14px;
}

.date{
    width:50%;
    font-size:14px;
    color:rgb(207, 60, 40);
}
.deliverto,.orderedby{
    width:50%;
    font-size: 14px;
    color:rgb(18, 129, 219);
}

.fa-check-circle-o
{
    color:rgb(19, 172, 19);
    font-size:20px;
}

.address{
    padding:2% 0;
    font-size:14px;
    font-family: 'Noto Sans', sans-serif;
    color:rgba(0,0,0,0.7);
    overflow:auto;
    word-wrap:break-word;
}
.activeadmin
{
    color:white;
    font-size:20px;
}

.changestatus
{
    margin:2%;
    margin-left:0;
    width:40%;
    padding:2.5% 3%;
    background:#ffa88e73;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    border:none;
    font-size:15px;
    color:#6f3317e6;
    font-family: 'Roboto', sans-serif;
}
.status
{
    margin:2%;
    font-weight: 600;
}