body
{
    background:rgb(252, 237, 239);
}

/*heading*/
.addressheading,.custname,.carddetailsheading
{
    font-family: 'Kufam', cursive;
    font-weight:400;
}

/*back*/
.addressback,.paymentback
{
    background:white;
    margin:auto;
    width:80%;
    border-radius:10px;
    margin-bottom:2%;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    padding:1%;
}


/*select*/
.selectaddress,.selectpayment
{
    display: flex;
    border-bottom:1px solid rgba(0,0,0,0.4);
}
/*div*/
.addressdiv,.paymentdiv
{
    font-size:18px;
}
.addressdiv{
    padding:2%;
    width:80%;
    height:30vh;
    margin:1%;
    margin-bottom:2%;
    margin-top:0;
}
.paymentdiv{
    margin:2%;
    height:15vh;
    width:40vw;
    margin-bottom: 0;
}
/*radiodiv*/
.radioaddressdiv{
    padding:1%;
    width:10%;
    height:30vh;
    line-height:13vh;
}
.radiopaymentdiv
{
    padding:1%;
    width:10%;
    height:8vh;
    line-height:7vh;
}

.custname{
    margin-bottom:0;
}

.addresscontent
{
    height:8vh;
    overflow:auto;
    font-family: 'Roboto', sans-serif;
    width:95%;
    margin:10px 0;
}

.addresscontact
{
    font-family: 'Roboto', sans-serif;
    color:rgb(40, 156, 233);
    font-size:15px;
}

.nextdiv
{
    padding:2%;
    height:8vh;
}
.next-btn,.back-btn
{
    padding:0.5%;
    background:pink;
    color:rgb(235, 105, 127);
    font-weight:500;
    font-size:18px;
    border:1.5px solid rgb(235, 105, 127);
    border-radius:5px;
    outline:none;
    width:25%;
    margin:2% 3%;
    cursor: pointer;
}
.next-btn:focus{
    box-shadow:1px 1px 5px rgb(235, 105, 127);
}

.paymentdiv2{
    height:5vh;
    width:100%;
    padding:3% 0;
    font-size:22px;
}
/* card details */
.carddetailsback
{
    margin:2% auto;
    margin-top:10%;
    width:40%;
    background:white;
    padding:3%;
    padding-top:1%;
    border-radius:10px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
}

.textcarddetails:focus
{
    outline:none;
}
.textcarddetails
{
    width:90%;
    padding:3%;
    margin:3%;
    font-size:18px;
}
.selectexpiry
{
    margin-bottom:4%;
    padding:3%;
}
.selectexpiry:focus{
    outline:none;
}

/*merged*/

.paymentpageback{
    width:55%;
    margin:auto;
    margin-top:1%;
    background:whitesmoke;
    padding:2%;
}

.paymentback,.ordersummaryback,.ordersuccessback,.carddetailsback
{
    display:none;
}


.paymentcontent
{
    width:100%;
    height:70vh;
    overflow:auto;
}
.paymentmainnav
{
    display:flex;
    justify-content:stretch;
    width:98%;
    margin:auto;
    margin-bottom:2%;
    background:white;
    
}
.addressnav{
    border-bottom:3px solid rgb(235, 105, 127);
}
.addressnav,.paymentnav,.ordersummarynav,.ordersuccessnav
{
    padding:1%;
    width:98%;
    text-align:center;
}
